{# templates/security/reset_password.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h2>Reset Password</h2>

    {# Display your reset password form here, which includes an input for the new password #}
    <form method="post" action="{{ path('app_reset_password', {'token': token}) }}">
        {# Include the necessary form fields and CSRF token #}
        {{ form_row(form.password) }}
        {{ csrf_token('reset_password') }}
        <button type="submit">Save New Password</button>
    </form>
{% endblock %}
