{% extends 'admin/dashboard.html.twig' %}

{% block title %}Email sent{% endblock %}

{% block styles %}
    {{ parent() }} {# This will include the parent styles from the dashboard.html.twig file #}
    {# Add additional styles specific to the admin_dashboard_admins page if needed #}
{% endblock %}

{% block navbar %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block main %}
<div class="main-panel  fullscreen">
    <div class="row">
        <div class="col-lg-5 mx-auto mt-5 grid-margin stretch-card center">
            <div class="card center">
                <div class="card-body">
                    <div class="table-responsive">
    <p>
        If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
        This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>If you don't receive an email please check your spam folder or <a href="{{ path('app_forgot_password_request') }}">try again</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                        {% endblock %}
