<form method="post" action="{{ path('app_review_delete', {'reviewid': review.reviewid}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ review.reviewid) }}">
    <button class="btn">Delete</button>
</form>
